<!-- We just call the 3 visualisations with HighCharts here -->
<div id="chart-container-students" style="width: 100%; height: 400px;"></div>
<div id="chart-container-subjects" style="width: 100%; height: 400px;"></div>

<div class=" indented-section"> <!-- we put this to indent a little our text zone to make it look better-->
  <label for="student-name">Enter Student Name:</label>
  <input id="student-name" type="text" [(ngModel)]="selectedStudent" placeholder="Student Name" />
  <button (click)="loadStudentChart()">Show Grades</button>
</div>
<div id="chart-container-student-grades" style="width: 100%; height: 400px;"></div>

<!-- We chose which charts to call and the size/style of those.
We also created a text zone where we can insert a name and then call the visualisation according to the name -->
